@font-face {
  font-family: 'alexbrush';
  src:  url('./alexbrush-regular.ttf') format('truetype'),
        url('./alexbrush-regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'alexbrush';
}